---
subhead: Conferences
subtitle: SIAM Conference on Linear Algebra
layout: conference
nav: conf
conf: siam-la
---

<p>
  The SIAM Conference on Applied Linear Algebra takes
  place every three years.
  The <a href="business.html">SIAM Activity Group on Linear Algebra
  Business Meeting</a> is always held at the conference.
</p>

{% for blurb in site.meetings reversed %}
  {% if blurb.type == "siam-la" %}
  {% include confheader.html %}
  {{ blurb.content | markdownify }}
  {% endif %}
{% endfor %}
