<div class="content-subhead">
  {% if blurb.page %}<h3><a href="{{ blurb.page }}">{{ blurb.title }}</a></h3>{% else %}<h4>{{ blurb.title }}</h3>{% endif %}
  {{ blurb.where }},
  {% if sm == em %}
  {{ blurb.start_date | date: "%B %-d" }}-{{ blurb.end_date | date: "%-d"}},
  {% elsif em %}
  {{ blurb.start_date | date: "%B %-d" }}-{{ blurb.end_date | date: "%B %-d"}},
  {% else %}
  {{ blurb.start_date | date: "%B %-d" }},
  {% endif %}
  {{ blurb.start_date | date: "%Y" }}.
  {% if !suppress_sponsorship %}
  {% include sponsorship.html %}
  {% endif %}
</div>
