---
layout: default
---

{% include confmenu.html %}

<div class="content-subhead">
{% if page.page %}<h3><a href="{{ page.page }}">{{ page.title }}</a></h3>{% else %}<h3>{{ page.title }}</h3>{% endif %}
<p>
{{ page.where }},
{% if sm == em %}
{{ page.start_date | date: "%B %-d" }}-{{ page.end_date | date: "%-d" }},
{% elsif em %}
{{ page.start_date | date: "%B %-d" }}-{{ page.end_date | date: "%B %-d" }},
{% else %}
{{ page.start_date | date: "%B %-d" }},
{% endif %}
{{ page.start_date | date: "%Y" }}.
{% case page.type %}
{% when "siam-la" %}
<br/>Organized by SIAG/LA.
{% when "issnla" %}
<br/>Organized by SIAG/LA.
{% when "organized" %}
<br/>Organized by SIAG/LA.
{% when "sponsored" %}
<br/>Sponsored by SIAG/LA.
{% when "cooperation" %}
<br/>In cooperation with SIAG/LA.
{% endcase %}
</div>

{{ page.content | markdownify }}
